@use '../helpers' as *;

.dream{
    &__inner{
        margin-block: fluid(120,60);
        @include mobile{
            display: grid;
            row-gap: rem(60);
        }
    }
    &__images{
        display: grid;
        grid-template-columns: 1fr 53%;
        align-items: center;
        gap: fluid(50,13);

        &-col2{
            display: grid;
            row-gap: fluid(68,17);
        & img:last-child{
            @include mobile-s{
                max-width: rem(120);
            }
        }
            
        }
    }
    &__title{
        max-width: rem(550);
        margin-bottom:-206px;
        @include laptop{
            margin-bottom:  0;
            max-width: none;
        }
    }
    
}