@use '../helpers' as *;
.header{
    color: var(--white);
    &__inner{
        background: 
        linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%), 
        linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)),  
        image-set(
            url("../img/bg.webp") type("image/webp"),
            url("../img/bg.jpg") type("image/jpeg")
        ) center / cover no-repeat;
        min-height: rem(1170);
        
        
        display: flex;
        flex-direction: column;
        gap: rem(80);
        
        @include mobile{
           min-height: rem(812);
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  rem(32.5) rem(40);
    }
    &__logo{
        @include mobile{
            order: -1;
        }
    }
    &__list{
        display: flex;
        gap: 24px;

        &--overlay{
            flex-direction: column;
            align-items: center;
            color: var(--title-color);
        }
    }
    &__button-menu{
        background-color: var(--white);
        padding: rem(10) rem(18);
        border: none;
        border-radius:rem(25);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(10.5);
        @include mobile-above{
            margin-right:rem(67);
        };
        z-index: 2;
        
    
    }
    &__title{
        text-align: center;
        display: grid;
        row-gap: rem(24);
        margin: 0 auto;
    }
    &__overlay{         
            position: fixed;
            inset:0;
            padding: 1rem;
            background-color:#c4bfbf;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 3rem;
            transition: all var(--transition-duration) ease-in;
            &:not(.is-active){
                @include hide;

                translate: 100%;
            }
            
        
    
}
}
